@page "/rooms"
@inherits RoomsBase


<h3>Rooms</h3>


@if (Rooms == null)
{
    <h3>Loading...</h3>
}
else
{
    var roomCount = Rooms.Count();

    @if (roomCount > 0)
    {
        @foreach (var room in @Rooms)
        {
            <h2>@room.Name</h2>
            <p>@room.Description</p>
        }
    }
    
}



@code {

}
