@page "/rooms"
@using FrontEnd.Services
@inherits RoomsBase


<h3>Rooms</h3>

@if (@LoadFailed)
{
    <h4 class="text-danger fw-bold">@Message</h4>
}


@if (Rooms == null)
{
    <h3>Loading...</h3>
}
else
{
    var roomCount = Rooms.Count();

    @if (roomCount > 0)
    {
        @foreach (var room in @Rooms)
        {
            <div class="card col-6 mb-3">
                <div class="card-body">
                    <h2>@room.Name</h2>
                    <p>@room.Description</p>
                </div>
            </div>
            
        }
    }
}


@code {

}
